<?xml version="1.0" ?>
<!--
/**
 * Copyright © Navyug. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="Navyug_donationproduct" id="Navyug_donationproduct">
			<module before="Magento_Backend" name="Navyug_DonationProduct"/>
		</route>
	</router>
</config>
